body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 350px;
    height: fit-content;
    background-color: #fff;
    border: 2px solid ;
    transition: 1s;
}
.dropdown{
    background-color: transparent;
    margin: 0 5px;
}
.drop{
    width: 3px;
    height: 3px;
    background-color:slategray;
    margin: 3px;
    cursor: pointer;
}
.bright{
    background-color: #fff;
}
.nav{
    background-color: inherit;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.dark-mode{
    width: 40px;
    height: 20px;
    display: flex;
    border-radius: 45px;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(47, 47, 49), rgb(255, 255, 253)) ;
}
.darkOrLight{
    position: relative;
    left:0 ;
    background-color: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    transition: 1s;
    
   
}
.screen{
    margin: 5px;
    overflow: hidden;
}
.move{
    left: 20px;
    margin-right: 3px;
    background-color: #fff;
    transition: 1s;
}

.dark{
    background-color: #000;
    border: 0;
}

#history{
    width:100%;
    height: 250px;
    color: rgb(99, 21, 34);
    opacity: 0.7;
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
    overflow-y:auto;
    
}
#input{ 
    width: 100%;
    height: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
    border: 0;
    border-bottom: 2px solid rgb(226, 5, 5);
    color: #000;
    background-color: transparent;
}
.btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}
button{
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(197, 11, 11);
    font-weight: 400;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.footer{
    color: rgb(197, 11, 11);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    opacity: 0.7;
}
.footer a{
    color: aqua;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    animation: changeColor 2s infinite;
}
footer p{
    
}
.footer a:hove{
    animation-play-state: paused;
}
@keyframes changeColor{
    0%{color: aqua;}
    20%{ color: blue;}
    40%{color: red;}
    60%{color: yellow;}
    80%{color: green;}
    100%{color: #000;}

}
@media screen and (max-width:375px) {
    body{
        margin: 0;
    }
    main{
        margin: 0;
    }
    
}